* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background: linear-gradient( #004243, #206C6E, #6A9997);
    height: auto;
    min-height: 100vh;
    
  }